<!DOCTYPE html>
<html class="loading" lang="ru" xmlns:th="http://www.thymeleaf.org" data-textdirection="ltr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

    <head>
        <title>Главная</title>
    </head>

    <!-- Start content -->
    <th:block layout:fragment="content"></th:block>
    <!-- End content -->

    <!-- BEGIN PAGE VENDOR JS-->
    <th:block layout:fragment="scripts-page-vendor"></th:block>
    <!-- END PAGE VENDOR JS -->

    <!-- BEGIN PAGE LEVEL JS-->
    <th:block layout:fragment="scripts-page"></th:block>
    <!-- END BEGIN PAGE LEVEL JS-->
</html>